<div class="navbar-wrapper">
  <div class="nabvar-logo">
   <h1>GV-WEB</h1>
  </div>
  <div class="nabvar-content">
   <%= link_to "CONTACT", "#quienes"%>
   <%= link_to "SOCIAL", "#{publics_path}#contacto" %>
 </div>
</div>
