<div class="navbar-wrapper">
  <div class="nabvar-logo">
    <img src="https://images.unsplash.com/photo-1545231027-637d2f6210f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=60" alt="">
  </div>
  <div class="nabvar-content">
   <%= link_to "CONTENIDO", "#quienes"%>
   <%= link_to "IDENTIDAD", "#contacto" %>
   <%= link_to "SHOP", "#contacto"%>
 </div>
<div class="navbar-cart">
   <i class="fas fa-shopping-cart"></i>
  </div>
</div>
