<%= render 'shared/navbar' %>
<div class="banner-1" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dw7ox75dg/image/upload/v1559064653/photo-1534972195531-d756b9bfa9f2.jpg);">
  <div class="container">
    <h1>Cumple el sueño de tu propia pagina web! </h1>
    <p>Aca podes cumplir tu mejores diseños y las mejores mentes para ayudarte </p>
    <a class="button-1" href="#">Contactanos</a>
  </div>
</div>
